.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(244, 183, 70);
  padding: 15px;

}

.nav-bar-favorites {
  margin-top: 22px;
  text-align: right;
}

.nav-bar-favorites a {
  color: white;
}

.nav-bar-brand {
  display: flex;
  flex-wrap: nowrap;
}

.nav-bar-brand svg {
  vertical-align: middle;
  font-size: large;
}

.nav-bar-brand span {
  vertical-align: middle;
}

.nav-bar-brand a {
  color: white; /* Set text color to white for navigation links */
  margin-left: 20px; /* Add some margin between links */
  text-decoration: none;
}

.nav-bar-brand-text {
  font-size: large;
}

.nav-bar a {
  text-decoration: none;
}

.nav-bar .active {
  text-decoration: underline;
}

@media (min-width: 728px) {
  .nav-bar-favorites {
    margin-top: 5px;
  }
}

@media (min-width: 613px) {
  .nav-bar-brand-text {
    font-size: x-large;
  }
}

@media (min-width: 961px) {
  .nav-bar-brand-text {
    font-size: xx-large;
  }
}

@media (min-width: 320px) {
  .nav-bar-brand svg {
    font-size: large;
  }
}

@media (min-width: 574px) {
  .nav-bar-brand svg {
    font-size: xx-large;
  }
}
